@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

*,
:root {
  padding: 0;
  font-family: "Inter", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  margin: 0 auto 64px;
  max-width: 640px;
  padding: 20px;
}

#acertos {
  text-align: center;
  background-color: #a3e635;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  border-radius: 6px;
}
